@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */ /* not working on smartphones */
  color: black;
}

@layer components {
  .btn {
    @apply inline-block border border-black rounded-md text-black text-sm font-medium leading-6 px-4 py-3;
  }
  .btn.btn-sm {
    @apply text-xs leading-4 py-2;
  }
  .btn.btn-lg {
    @apply text-base py-4;
  }
  .btn.btn-xl {
    @apply text-base py-5;
  }
  .btn.btn-filled {
    @apply bg-black text-white;
  }
  .btn.btn-white {
    @apply border-white text-white;
  }
  .btn.btn-filled.btn-white {
    @apply bg-white text-black;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* ICONS */
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 24;
}
.material-symbols-rounded {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
